MONGO_HOST=hostname
MONGO_PORT=port_number
MONGO_DB=database_name
MONGO_USER=database_user
MONGO_PASSWORD=database_password
MONGO_AUTH_DB=authentication_database


RABBITMQ_URL=amqp://username:password@localhost:5672
RABBITMQ_NAME=database_name
RABBITMQ_ML_SERVICE=ml_service_name
RABBITMQ_DATA_SERVICE=data_service_name


PORT=xxxx